<div class="Header">
    <h1>Hobby Hub!</h1>
</div>

<div class="Content_Box">
    <div class="Left_Box">
        <h1>Register</h1>
    </div>
    <div class="Right_Box">
        <h1>Login</h1>
    </div>
</div>

<div class="Content_Box">
    <div class="Left_Box">
        <partial name = "_register" />
    </div>
    <div class="Right_Box">
        <partial name = "_login" />
    </div>
</div>